<div>
  <h4>REGISTRO</h4>
  <form action="">
    <div>
      <label for="">Codigo: </label>
      <input type="text" name="codigo" [(ngModel)]="codigo" />
    </div>
    <br />
    <div>
      <label for="">Nombre: </label>
      <input type="text" name="nombre" [(ngModel)]="nombre" />
    </div>
    <br />
    <div>
      <label for="">Seccion: </label>
      <input type="text" name="seccion" [(ngModel)]="seccion" />
    </div>
    <br />
    <div>
      <label for="">Precio: </label>
      <input type="number" name="precio" [(ngModel)]="precio" />
    </div>
    <br />
    <button type="submit" (click)="registrarUsuario()">Guardar</button>
  </form>
</div>
<br />
<div *ngFor="let articulo of arrayArticulos; let i = index">
  {{ i + 1 }} - {{ articulo.codigo }} {{ articulo.nombre }}
  {{ articulo.seccion }} {{ articulo.precio }}
</div>
<div>
  <h4>COMUNICACION ENTRE COMPONENTES</h4>
  <p>
    Hay muchas formas de comunicarse entre componentes veremos todas las maneras
    la primera es la comunicacion desde el componente padre al hijo mediante
    input. Consiste en usar la etiqueta @Input de Angular. Ésta etiqueta se pone
    en el componente hijo para indicar que esa variable proviene desde fuera del
    componente, es decir desde el componente padre.
  </p>
  <app-hijo [mensajeHijo]="mensajePadre"></app-hijo>
</div>
