<div>
  <h4>REGISTRO</h4>
  <form action="">
    <div>
      <label for="">Nombre: </label>
      <input type="text" name="nombre" [(ngModel)]="nombre" />
    </div>
    <br />
    <div>
      <label for="">Apellido: </label>
      <input type="text" name="apellido" [(ngModel)]="apellido" />
    </div>
    <br />
    <button type="submit" (click)="registrarUsuario()">Guardar</button>
  </form>
</div>
<div>
  <h5>DATOS REGISTRADOS</h5>
  <p>{{ nombre }}</p>
  <p>{{ apellido }}</p>
</div>

<!--

  <h6>REGISTRO DE USUARIO</h6>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="nombre" placeholder="Nombre Usuario" [(ngModel)]="nombre">
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingPassword" name="apellido" [(ngModel)]="apellido">
    </div>
    <br>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" name="cargo" [(ngModel)]="cargo">
    </div>
    <button id="btnRegistro" type="submit" class="btn btn-primary" (click)="registrarUsuario()">Registro</button><br><br>
-->
